body{
    width:320px;
    min-height:700px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #0d192b;
    margin: 0;
    cursor: default;
}

.container{
    width: 300px;
    height: 565px;
    background-color: #14253d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.container .card{
    width: 260px;
    height: 525px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "specimen",sans-serif;
    border-radius: 8px;
    gap: 15px;
}

.card .card-img{
    width:260px;
    height:300px;
    background-image:url("image-equilibrium.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;

}

.card .card-details{
    width:260px;
    height: 180px;
    display: flex;
    flex-flow: column;
}

.card-details .details-head{
    width:260px;
    height: 110px;

}
.color-white{
    color:#fff;
}

.details-head section {
    color:#4d6b71;
    font-weight: 500;
    line-height: 25px;
}

.card-details .details-icon{
    width: 260px;
    height: 40px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin: 5% 0 2% 0;
}

.details-icon .diamond{
    width: 130px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: aqua;
}

.diamond #text{
    margin-left: 5%;
    font-weight: 600;
}

.details-icon .time{
    width: 130px;
    display: flex;
    justify-content: flex-end;
    color: #4d6b71;
}

.time #time-left{
    margin-left: 3%;
}

.line{
    width:260px;
    height: 1px;
    border-top:1px solid #596c72da;
    margin: 3% 0;
}

.card-details .details-profile{
    width: 260px;
    height:50px;
    display: flex;
    flex-flow: row;
    justify-content:flex-start;
    margin-top: 3%;
}

.details-profile .profile-img img{
    width:35px;
    height:35px;
    border-radius: 50%;
    border: 2.5px solid #fff;
}

.details-profile .profile-name{
    width: 200px;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
    margin-left: 3%;
    color: #4d6b71;
}

.profile-name span{
    margin-left: 3%;
}

.card-img:active{
    /* width: 260px;
    height: 300px; */
    background-image: url("icon-view.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(109, 181, 181);
}

.color-white:active{
    color: aqua;
}

@media(min-width:320px){
    body{
        width: 100%;
        min-height: 750px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}